* {
  box-sizing: border-box;
}

@font-face {
  font-family: Georgia, 'Times New Roman', Times, serif;
  src: url("assets/fonts/Georgia/georgia.ttf");
}

html {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

[class*="__container"] {
   max-width: 1280px;
   margin: 0 auto;
   padding: 0 40px;
}

a {
  text-decoration: none;
}

h3 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

h4 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
}

p {
  margin: 0;
}

.header {
  padding-top: 30px;
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%); 
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;  
}

.logo-house{
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 110%;
  color: #F1CDB3;
  letter-spacing: 0.06em;
}

.subtitle-logo {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #FFFFFF;
  letter-spacing: 0.1em;
  padding-left: 3px;
}

.nav-list {
  display: flex;
  column-gap: 36px;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin-top: 10px;
  margin-right: -16px;
}

.active {
  padding-bottom: 5px;
  border-bottom: 3px solid #F1CDB3;
}

.active:hover  {
  border-bottom: 0;
}

.nav-list:first-child {
  padding-left: 0;
}

.nav-link {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  transition: all 0.5s ease-in-out;
}

.nav-link:hover {
  color: #F1CDB3;
}


/*start */

.section-start {
  background: url(noise_lines_transparent@2X.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%)
}

.main__container {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;   
}

.start-content {
   padding-top: 164px;
   display: flex;
   flex-direction: column;
   gap: 41px;
}

.start-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 44px;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 310px;
  margin: 0;
}

.start-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 460px;
}

.start-action {
  margin-top: 15px;
}

.button {
  padding: 16px 45px;
  background: #F1CDB3;
  border-radius: 100px;
}
.start-button {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  color: #292929;
  letter-spacing: 0.06em;
}

.start-images {
  margin-right: -17px;
}


/* about */

.about__container {
  display: flex;
  justify-content: space-between;
  margin-top: 70px; 
}

.about-images {
  flex: 0 1 50%;
  text-align: center;
  padding-left: 54px;
  padding-top: 6px;
}

.about-content {
  flex: 0 1 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
  margin-top: 20px;
  margin-bottom: 100px;
  padding-left: 3px;
}

.about-title {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 35px;
  line-height: 130%;
  color: #545454;
  max-width: 360px;
  margin: 0;
}

.about-text {
  font-family: 'Arial';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 160%;
  color: #4C4C4C;
  max-width: 430px;
}

.about-text1 {
  margin-bottom: 25px;
}

/* pets */

.pets__container {
   margin-top: 60px;
   margin-bottom: 100px;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.pets-content {
    max-width: 420px;
    text-align: center;
    margin: auto;
    padding-left: 18px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 91px;
  margin-top: 22px;
  padding-left: 15px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 270px;
  height: 435px;
  background: #FAFAFA;
}

.card:hover .btn-pets {
  background: #FDDCC4;
  border: 0;
  cursor: pointer;
}

.pet-name {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 0.06em;
}

.btn-pets {
  border: 2px solid #F1CDB3;
  background: #FAFAFA;
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  margin-bottom: 26px;
}

.btn-get {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  letter-spacing: 0.06em;
  border: none; 
  margin-top: 59px;
  margin-left: 17px
}

 /*  slider  */

.pets__container {
  position: relative;
}

 .slider-icon {
   position: absolute; 
   top: 51%;
   cursor: pointer;
 }

 .slider-icon { 
    width: 52px;
    height: 52px;
    border-radius: 50%;
    border: 2px solid #F1CDB3;
    background-size: 14px 6px;
    background-position: center center;
    background-color: transparent;
    background-repeat: no-repeat;
    opacity: 0.9;
 }

 .slider-prev {
   left: 39px;
   background-image: url("../../assets/icons/slider-prev.svg");
 }

 .slider-next {
   right: 25px;
   background-image: url("../../assets/icons/slider-next.svg");
 }

/* help */

.help__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 45px;
  margin-bottom: 100px;
}

.heading {
  text-align: center;
  margin: auto;
  padding-left: 20px;
}

.help-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  column-gap: 119px;
  row-gap: 34px;
  margin-top: 25px;
  max-width: 1028px;
  margin-left: 86px;
} 

.pet-item {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  vertical-align: middle;
}
    
    /* donation */

.donation__container {
  display: flex;  
  justify-content: space-between;
  gap: 30px;
  max-width: 915px;
  padding-top: 20px;
  padding-bottom: 99px;
  padding-left: 10px;
  padding-right: 0;
}

.donation-img {
  padding-top: 45px;
}

.donation-content {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.donation-title {
  max-width: 300px;
  margin: 0;
  padding-top: 34px;  
}

.donation-subhead {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #545454;
  margin: 0;
}

.credit-content {
  padding: 9px 15px;
  background: #F1CDB3;
  border-radius: 9px;
  max-width: 349px;
  max-height: 43px;
}

.donat-tel {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  text-align: center;
  letter-spacing: 0.06em;
  padding-left: 10px;
  color: #545454;
}

.information {
  font-family: 'Arial';
  font-style: italic;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: #B2B2B2;
  margin-top: 4px;
}

/*  footer */


.footer {
  background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer__container {
  display: grid;
  gap: 136px;
  grid-template-columns: minmax(auto, 302px) auto auto;
  padding-top: 40px;
}

.contacts,
.locations {
  display: flex;
  flex-direction: column;
}

.quest,
.locat {
  color: #FFFFFF;
  margin: 0;
  margin-top: 18px;
  margin-bottom: 42px;
}

.locat {
  margin-bottom: 36px;
}

.mail,
.cities {
  display: flex;
}
/*
.contacts {
  padding-left: 8px;
}
*/
.contacts-list,
.locations-list {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.mail-email {
  padding: 0px 0px 0px 59px;
  background: url(../../assets/icons/mail.svg) no-repeat;
  display: inline-block;
  line-height: 26px;
}

.mail-email {
  margin-bottom: 43px;
}

.mail-phone {
  padding: 0px 0px 0px 59px;
  background: url(../../assets/icons/phone.svg) no-repeat;
  display: inline-block;
  line-height: 32px;
}

.email,
.phone,
.city1,
.city2 {
  font-family: 'Georgia';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}

.map-1 {
  padding: 0px 0px 0px 42px;
  background: url(../../assets/icons/pin.svg) no-repeat;
  display: inline-block;
  margin-bottom: 28px;
}

.map-2 {
  padding: 0px 0px 0px 42px;
  background: url(../../assets/icons/pin.svg) no-repeat;
  display: inline-block;
  line-height: 32px;
}

.city1 {
  margin-bottom: 30px;
}

.footer-puppy {
  margin-right: -11px;     
}





